@import 'fonts';
@import 'colors';
@import 'constants';

.header {
  font-family: "Times New Roman", Times, serif;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  background: linear-gradient(to bottom right, $header-BG-color1, $header-BG-color2);
  min-height: 200px;
  border-radius: $border-radius;
  margin-top: 5px;
  margin-bottom: 3px;
}

.title {
  color: $title-color1;
  font-style: italic;
  font-size: 72px;
  grid-column: 1 / 4;
  grid-row: 1;
  margin: 0 auto;
}

.title .start {
  margin-top: 2px;
  height: auto;
}

.title .end {
  color: $title-color2;
  text-align: center;
  font-size: 96px;
  margin-bottom: 10px;
  margin-top: -10px;
}

.logo {
  grid-column: 4;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo .image {
  height: 195px;
  margin-top: 5px;
  width: auto;
}

/* Navbar */

.navbar {
  margin-top: 3px;
  background-color: $navbar-BG-color;
  border-radius: $border-radius;
  height: 50px;
  width: 100%;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
  margin: 8px 3px;
}

.navbar a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: $navbar-link;
}

.navbar a:hover {
  color: $navbar-link-hover;
}
