@import 'fonts';
@import 'colors';
@import 'constants';

footer {
  color: $footer-color;
  background-color: $footer-BG;
  padding-top: 5px;
  padding-bottom: 0;
  text-align: center;
  height: 20px;
  width: $body-max-width;
  margin: 0 auto;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  flex: none;
}
