@import 'fonts';
@import 'colors';
@import 'constants';

html,
body {
  max-width: $body-max-width;
  margin: 5px auto;
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.background-grid {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-linear-gradient(-25deg, rgba(0, 0, 0, 0) 75%, rgba(255, 255, 255, 0.8) 75%), -webkit-linear-gradient(-155deg, rgba(0, 0, 0, 0) 75%, rgba(255, 255, 255, 0.8) 75%), -webkit-linear-gradient(-25deg, rgba(0, 0, 0, 0) 75%, rgba(255, 255, 255, 0.8) 75%), -webkit-linear-gradient(-155deg, rgba(0, 0, 0, 0) 75%, rgba(255, 255, 255, 0.8) 75%), rgba(224, 233, 249, 1);
  background: -moz-linear-gradient(115deg, rgba(0, 0, 0, 0) 75%, rgba(255, 255, 255, 0.8) 75%), -moz-linear-gradient(245deg, rgba(0, 0, 0, 0) 75%, rgba(255, 255, 255, 0.8) 75%), -moz-linear-gradient(115deg, rgba(0, 0, 0, 0) 75%, rgba(255, 255, 255, 0.8) 75%), -moz-linear-gradient(245deg, rgba(0, 0, 0, 0) 75%, rgba(255, 255, 255, 0.8) 75%), rgba(224, 233, 249, 1);
  background: linear-gradient(115deg, rgba(0, 0, 0, 0) 75%, rgba(255, 255, 255, 0.8) 75%), linear-gradient(245deg, rgba(0, 0, 0, 0) 75%, rgba(255, 255, 255, 0.8) 75%), linear-gradient(115deg, rgba(0, 0, 0, 0) 75%, rgba(255, 255, 255, 0.8) 75%), linear-gradient(245deg, rgba(0, 0, 0, 0) 75%, rgba(255, 255, 255, 0.8) 75%), rgba(224, 233, 249, 1);
  background-position: 0 0, 0 0, 7px -15px, 7px -15px;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 15px 30px;
  background-size: 15px 30px;
}

main {
  background-color: lightblue;
  color: red;
  margin: 5px 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  flex: auto;
  border-radius: $border-radius;
}
