@import '../../../assets/styles/colors.sass'
@import '../../../assets/styles/constants.sass'

#TitleBar
  font-family: "Times New Roman", Times, serif
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-auto-rows: minmax(100px, auto)
  background: linear-gradient(to bottom right, $header-BG-color1, $header-BG-color2)
  height: 200px
  border-radius: $border-radius
  margin-top: 5px
  margin-bottom: 3px
  flex: none

.title
  color: $title-color1
  font-style: italic
  font-size: 72px
  grid-column: 1 / 4
  grid-row: 1
  margin: 0 auto

.title .start
  margin-top: 2px
  height: auto

.title .end
  color: $title-color2
  text-align: center
  font-size: 96px
  margin-bottom: 10px
  margin-top: -10px

.logo
  grid-column: 4
  grid-row: 1
  align-items: center
  justify-content: center

.logo .logo-image
  height: 195px
  margin-top: 5px
  width: auto
