@import '../../../assets/styles/colors.sass'
@import '../../../assets/styles/constants.sass'

#TitleBar
  font-family: "Times New Roman", Times, serif
  background: $BG-gradient
  height: $title-bar-height
  border-radius: $border-radius
  margin-top: $section-bumper-padding
  margin-bottom: $section-bumper-padding
  display: flex
  justify-content: center

// *** title

.title
  color: $title-color1
  font-style: italic
  font-size: $title-base-size
  display: flex
  flex-direction: column
  justify-content: center

.title .start
  text-align: center
  padding: 0 $title-base-size / 4

.title .end
  padding: $title-base-size / 4
  color: $title-color2
  text-align: center
  font-size: 0 $title-base-size

// *** logo

.logo
  align-items: center
  justify-content: center

.logo .logo-image
  max-height: $title-bar-height * .95
  margin-top: $title-bar-height * .05
