@import '../../constants/styleConstants.sass'

#Home
  .subtitle
    font-style: italic
    font-weight: normal
    text-align: center

  .extraBold
    font-weight: 900

  .text-column
    flex-direction: column

  h2
    // display: inline

  ul
    display: inline-block
    list-style: none
    list-style-position: outside

  li:before
    content: '✓ '

  li
    text-align: left
    list-style-position: inside
    font-size: 120%
    text-indent: -1.2em
    margin-left: -1em
    padding: .1em 0


  // p
  //   font-size: 125%

  // .img
  //   border-radius: 3px

  // .imgTeaching
  //   height: 150px
  //   width: auto
  //   float: right

  // .imgFlags
  //   display: block
  //   margin: 0 auto
  //   height: 100px
  //   width: auto

  // .mainText
  //   font-size: 150%

  // .logo-image
  //   width: 150px
  //   height: auto
