@import '../../constants/styleConstants.sass'

#Home
  .subtitle
    font-style: italic
    font-weight: normal
    text-align: center

  .extraBold
    font-weight: 900

  .text-column
    flex-direction: column

  ul
    display: inline-block
    list-style: none
    list-style-position: outside

  li:before
    content: '✓ '

  li
    text-align: left
    list-style-position: inside
    font-size: 120%
    text-indent: -1.2em
    margin-left: -1em
    padding: .1em 0
