@import '../constants/styleConstants.sass'

.main-wrapper
  align-self: center
  display: flex
  flex-direction: column
  margin: 0 auto
  padding: 128px 0 0 0


.page
  flex: 1

body
  margin: 0

// ***

.outer-wrapper
  display: flex
  justify-content: center
  padding: 5px
  width: 100%

.outer-wrapper0
  background-color: $boring-gray

.outer-wrapper1
  background-color: $white1

.inner-wrapper
  align-self: center
  text-align: left
  width: $body-max-width
