@import '../../constants/styleConstants.sass'

#Footer
  color: $footer-fg
  background: $footer-bg
  padding: 10px 0
  text-align: center
  height: 20px
  width: 100%
  margin: 0
  border-top-left-radius: $border-radius
  border-top-right-radius: $border-radius

