#FrontCards
  display: flex
  flex-direction: column
  justify-content: center

  ul
    list-style: none
    list-style-position: outside

  li:before
    content: '✓ '

  li
    list-style-position: inside
    font-size: 120%
    text-indent: -1.2em
    margin-left: -1em
    padding: .1em 0

  .mainText
    font-size: 120%
    font-weight: normal

  h3
    text-align: center
    margin: 0 10%
