doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Have Fun Learning Spanish!

  body.background-grid
    include includes/header.pug

    main
     p This is the Home
     p This is the Home
     p This is the Home
     a(href='/test.html') test
     p This is the Home
     p This is the Home
     p This is the Home
     p This is the Home

    include includes/footer.pug
