$body-BG-color: antiquewhite

$header-BG-color1: #1a4c81
$header-BG-color2: darkblue

$title-color1: white
$title-color2: yellow

$navbar-BG-color: darkblue

$navbar-link: yellow
$navbar-link-active: white
$navbar-link-hover: white
$navbar-link-visited: yellow

$footer-color: antiquewhite
$footer-BG: darkblue
